<!DOCTYPE html>
<html>
<head>
    <title>Your Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>suram sravani</h1>
    
    <p><h3>Welcome to my portfolio website!</h3><br> I’m a developer interested in python developer.</p>
    <p>Hi, I'm Sravani, a passionate and proactive tech enthusiast with a <br>
        strong foundation in Python, HTML, and CSS, and a growing interest in frontend development,
        <br> 
         I hold a B.Tech from Megha Institute of Engineering and Technology for Women, 
         <br>where I graduated with 70.8% and no backlogs, reflecting my dedication and consistency.
</p>
    <a href="https://github.com/Suramsravani" target="_blank">GitHub Profile</a>
    <br>
    <a href="https://www.linkedin.com/in/suram-sravani-24s10b/" target="_blank">LinkedIn Profile</a>
 
</body>
</html>
